@import "../../styles/modules/variables.scss";
.community {
   background-color: #5036E6;
   color: $col;

   &__title {
       margin: 0;
       padding-top: 80px;
       font-size: 70px;
       line-height: 63px;
   }
   &__text {
       max-width: 500px;
       margin: 0;
       padding-top: 40px;
       font-size: 20px;
       line-height: 26px;
   }
   &__container-cards {
       padding-top: 110px;
       display: flex;
       gap: 80px;
   }
   &__player-name {
       margin: 0;
       padding-top: 30px;
       font-size: 22px;
       line-height: 28,6px;
   }
   &__player-info {
       margin: 0;
       padding-top: 10px;
       font-size: 20px;
       line-height: 26px;
   }
   &__contact {
       padding-top: 80px;
       display: flex;
       padding-bottom: 60px;
   }
   &__image {
       padding-top: 60px;
   }
   &__text-container {
       display: flex;
       justify-content: center;
       flex-direction: column;
       padding-left: 100px;
   }
   &__title-recruiting {
       margin: 0;
       max-width: 520px;
       padding-bottom: 40px;
       font-size: 70px;
       line-height: 63px;
    }
    &__info-contact {
        margin: 0;
        max-width: 520px;
        font-size: 20px;
        line-height: 26px;
    }
}