@import "../../styles/modules/variables.scss";
.content {
    max-width: $mw;
    margin: 0 auto;

    @media screen and (max-width: 768px) {
        max-width: 668px;
    }

    @media screen and (max-width: 420px) {
        max-width: 280px;
    }
}