@import "../../styles/modules/variables.scss";

.hiring {
    position: relative;
    overflow: hidden;
    background-color: #5036E6;
    color: $white;
    padding-top: 170px;
    display: flex;
    padding-bottom: 170px;
    padding-left: 50%;

    @media screen and (max-width: 768px) {
        padding-left: 60px;
        padding-top: 120px;
        padding-bottom: 120px;
        justify-content: flex-end;
    }

    @media screen and (max-width: 600px) {
        padding-left: 0;
        padding-top: 60px;
        padding-bottom: 200px;
        justify-content: center;
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 60px;
        right: 72%;
        width: 660px;
        height: 440px;
        background-image: url('../../images/circles_team.png');
        background-repeat: no-repeat;
        background-size: contain;

        @media screen and (min-width: 1250px) {
            right: calc(100% - 660px);
        }

        @media screen and (max-width: 768px) {
            background-image: url('../../images/circles_team_mobile.png');
            width: 360px;
            height: 360px;
            bottom: 50px;
            right: 80%;
        }

        @media screen and (max-width: 600px) {
            width: 280px;
            height: 280px;
            bottom: -140px;
            left: 50%;
            margin-left: -140px;
        }
    }

    &__text-container {
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 100px;
        z-index: 1;

        @media screen and (max-width: 1250px) {
            padding-left: 0px;
        }

        @media screen and (max-width: 420px) {
            padding-left: 20px;
        }

    }
    &__title-recruiting {
        margin: 0;
        max-width: 520px;
        padding-bottom: 40px;
        font-size: 70px;
        line-height: 63px;

        @media screen and (max-width: 768px) {
            max-width: 478px;
        }

        @media screen and (max-width: 600px) {
            max-width: 280px;
            font-size: 40px;
            line-height: 36px;
            padding-bottom: 20px;
        }

    }
    &__info-contact {
         margin: 0;
         max-width: 520px;
         font-size: 20px;
         line-height: 26px;

        @media screen and (max-width: 768px) {
            max-width: 478px;
        }
        @media screen and (max-width: 320px) {
            max-width: 280px;
            font-size: 12px;
            line-height: 15.6px;
        }
    }
}